<div class="hero_area">

	<div class="hero_bg_box">
		<div class="bg_img_box">
			<img src="images/hero-bg.png" alt="">
		</div>
	</div>

	<!-- header section strats -->
	{{> nav}}
	{{#if error}}
	{{> errorToast}}
	{{/if}}

	<section class="slider_section">
		<div id="customCarousel1" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="container ">
						<div class="row">
							<div class="col-md-6 ">
								<div class="detail-box">
									<h1>
										VibeChat
									</h1>
									<p>
										Chat, connect, and share your vibe with friends and communities worldwide.
										Real-time messaging, customizable rooms, and endless possibilities for
										expression. Join the conversation and find your people today.
									</p>
									<div class="btn-box">
										<a href="" class="btn1">
											Find chatrooms
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="img-box">
									<img src="images/phone_img.png" alt="phone">
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</section>
</div>



<section class="why_section layout_padding">
	<div class="container">
		<div class="heading_container heading_center">
			<h2>
				Why Vibe With <span>Us</span>?
			</h2>
		</div>
		<div class="why_container">
			<div class="box">

				<div class="detail-box">
					<p>
						Whether you're catching up with friends or meeting new people,<br> VibeChat lets you create
						and join chatrooms based on your favorite themes. Start chatting today!
					</p>
				</div>
			</div>
			<div class="box">
				<div class="img-box">
					<svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
						fill="#000000">
						<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
						<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
						<g id="SVGRepo_iconCarrier">
							<path
								d="M885.8 383.8h-90.4c12.3 15.8 19.7 35.6 19.7 57.1v194c0 51.3-42 93.2-93.2 93.2H494.1c12.1 31 42.2 53.1 77.4 53.1h314.3c45.6 0 83-37.3 83-83V466.8c-0.1-45.7-37.4-83-83-83z"
								fill="#f66fadFFB89A"></path>
							<path
								d="M780.7 582.4V286.3c0-74.2-60.7-134.9-134.9-134.9H198.2c-74.2 0-134.9 60.7-134.9 134.9v296.1c0 70.5 54.8 128.7 123.8 134.4 0 0-20 155.4 4.9 155.4s188.4-154.9 188.4-154.9h265.3c74.3 0 135-60.7 135-134.9z m-424.1 74.9l-17.4 16.4c-0.3 0.3-34.5 32.7-73.2 67.1-8.5 7.5-16.2 14.3-23.3 20.5 1.9-20.9 3.9-36.6 3.9-36.8l8-62.3L192 657c-38.5-3.2-68.7-36-68.7-74.6V286.3c0-19.9 7.8-38.6 22.1-52.8 14.2-14.2 33-22.1 52.8-22.1h447.6c19.9 0 38.6 7.8 52.8 22.1 14.2 14.2 22.1 33 22.1 52.8v296.1c0 19.9-7.8 38.6-22.1 52.8-14.2 14.2-33 22.1-52.8 22.1H356.6z"
								fill="#f66fad45484C"></path>
							<path
								d="M830.3 337.9c-16.2-3.3-32.1 7.1-35.4 23.3-3.3 16.2 7.1 32.1 23.3 35.4 39 8 67.3 42.7 67.3 82.5v177c0 41.6-31.1 77.5-72.3 83.4l-32.7 4.7 7.8 32.1c2 8.1 3.9 16.8 5.8 25.3-17.6-16.4-37.3-35.2-55.2-52.7l-8.7-8.6H562.5c-21.9 0-36.6-1.4-47.2-8.6-13.7-9.3-32.4-5.8-41.7 7.9-9.3 13.7-5.8 32.4 7.9 41.7 25.7 17.5 55.3 19 81 19h143.2c10 9.7 27.3 26.3 45 42.8 16.2 15.1 29.6 27.1 39.8 35.9 20 17 29.3 23.1 41.6 23.1 9.7 0 18.7-4.4 24.8-12.1 10.1-12.9 10.2-29.1 0.5-78.7-1.4-7.2-2.9-14.2-4.3-20.6 54.4-21.1 92.4-74.3 92.4-134.6v-177c0.1-68-48.4-127.4-115.2-141.2z"
								fill="#f66fad45484C"></path>
							<path
								d="M434.6 602.8c-35.9 0-71-17.1-98.8-48.1-24.6-27.5-39.3-61.6-39.3-91.4v-29.7l29.7-0.3c0.4 0 36.2-0.4 95.4-0.4 16.6 0 30 13.4 30 30s-13.4 30-30 30c-22.3 0-41.2 0.1-56.2 0.1 3.8 7.1 8.8 14.5 15.1 21.6 16 17.9 35.7 28.1 54.1 28.1s38.1-10.3 54.1-28.1c6.5-7.3 11.6-14.9 15.4-22.2-13.7-2.8-24.1-15-24-29.5 0.1-16.5 13.5-29.9 30-29.9h0.1c27.1 0.1 32.5 0.2 33.6 0.3l28.9 1.1v28.9c0 29.8-14.7 63.9-39.3 91.4-27.9 31-62.9 48.1-98.8 48.1z m107.1-109.5z"
								fill="#f66fad"></path>
						</g>
					</svg>
				</div>
				<div class="detail-box">
					<h5>
						Create & Customize Your Chatrooms
					</h5>
					<p>
						Design your own space! Choose a theme, set rules, and invite your friends.
					</p>
				</div>
			</div>
			<div class="box">
				<div class="img-box">
					<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
						xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
						xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 400 400.00001"
						id="svg2" version="1.1" inkscape:version="0.91 r13725" sodipodi:docname="social-management.svg"
						fill="#000000">
						<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
						<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
						<g id="SVGRepo_iconCarrier">
							<defs id="defs4"></defs>
							<sodipodi:namedview id="base" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0"
								inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:zoom="0.79991455"
								inkscape:cx="278.47716" inkscape:cy="218.57183" inkscape:document-units="px"
								inkscape:current-layer="layer1" showgrid="false" units="px" showguides="true"
								inkscape:guide-bbox="true" inkscape:window-width="1920" inkscape:window-height="1056"
								inkscape:window-x="1920" inkscape:window-y="24" inkscape:window-maximized="1">
								<sodipodi:guide position="200.71429,121.42857" orientation="1,0" id="guide23298">
								</sodipodi:guide>
							</sodipodi:namedview>
							<metadata id="metadata7">
								<rdf:rdf>
									<cc:work rdf:about="">
										<dc:format>image/svg+xml</dc:format>
										<dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></dc:type>
										<dc:title> </dc:title>
									</cc:work>
								</rdf:rdf>
							</metadata>
							<g inkscape:label="Capa 1" inkscape:groupmode="layer" id="layer1"
								transform="translate(0,-652.36216)">
								<path
									style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;direction:ltr;block-progression:tb;writing-mode:lr-tb;baseline-shift:baseline;text-anchor:start;white-space:normal;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
									d="m 55.925394,652.36218 c -30.393352,0 -55.29942992,24.90804 -55.29942994,55.30138 2e-8,30.39336 24.90607794,55.29943 55.29942994,55.29943 5.173306,0 10.181454,-0.73848 14.941042,-2.08588 l 13.444984,22.57367 c -29.876428,22.0478 -49.30739,57.48755 -49.30739,97.35113 0,66.64002 54.290612,120.93059 120.93065,120.93059 34.5698,0 65.811,-14.61461 87.87871,-37.97949 l 20.46044,15.44103 c -1.93494,5.6137 -3.00189,11.62111 -3.00189,17.86675 0,30.39331 24.90608,55.30131 55.29943,55.30131 30.39336,0 55.30139,-24.908 55.30139,-55.30131 0,-30.39336 -24.90803,-55.29943 -55.30139,-55.29943 -15.15619,0 -28.94669,6.19466 -38.96584,16.17344 l -18.57767,-14.02115 c 11.30496,-18.38831 17.8355,-40.00592 17.8355,-63.11174 0,-19.44442 -4.62952,-37.8337 -12.83171,-54.13344 l 45.97152,-33.68277 c 9.41166,7.40845 21.24826,11.85518 34.07144,11.85518 30.39336,0 55.29943,-24.90609 55.29943,-55.29943 0,-30.39336 -24.90607,-55.30139 -55.29943,-55.30139 -30.39336,0 -55.30139,24.90803 -55.30138,55.30139 0,8.57289 1.9821,16.7081 5.50963,23.97207 l -43.76065,32.06172 c -22.18189,-27.82655 -56.34936,-45.70397 -94.58753,-45.70397 -17.8512,0 -34.81398,3.89923 -50.08667,10.8845 l -13.081719,-21.9643 c 11.307989,-10.14693 18.458539,-24.84746 18.458539,-41.12791 0,-30.39334 -24.906082,-55.30138 -55.299436,-55.30138 z m 0,24.99939 c 16.88268,0 30.300042,13.41932 30.300042,30.30199 0,16.88268 -13.417362,30.30004 -30.300042,30.30004 -16.882678,0 -30.300041,-13.41736 -30.300041,-30.30004 0,-16.88267 13.417363,-30.30199 30.300041,-30.30199 z m 288.149216,41.87788 c 16.88268,0 30.30004,13.41932 30.30004,30.302 0,16.88267 -13.41736,30.30004 -30.30004,30.30004 -16.88268,0 -30.30199,-13.41737 -30.30199,-30.30004 0,-16.88268 13.41931,-30.302 30.30199,-30.302 z m -188.13993,65.63121 c 53.12935,0 95.92929,42.8019 95.92929,95.93125 0,53.12935 -42.79994,95.93126 -95.92929,95.93126 -53.12936,0 -95.93126,-42.80191 -95.93126,-95.93126 0,-53.12935 42.8019,-95.93125 95.93126,-95.93125 z m -0.83006,25.24744 c -25.44286,-0.3999 -45.66106,29.20262 -35.43859,52.66472 2.89454,7.52249 8.26285,14.01893 14.95081,18.48588 -23.02566,10.11073 -36.703153,35.46616 -36.337011,60.07275 -0.05902,4.80544 -0.511373,9.75352 4.099511,9.6111 34.32375,-0.69828 76.17032,0.1505 110.49731,-0.0762 4.49067,-27.31468 -9.21096,-58.03472 -35.11048,-69.52369 18.1538,-12.01297 23.32449,-40.37216 8.3455,-56.90876 -7.48953,-9.09402 -19.19064,-14.64784 -31.00705,-14.32582 z m 0.65428,23.65371 c 0.53101,-0.007 1.06852,0.0172 1.60933,0.0742 13.02643,0.59668 19.17674,20.56949 7.50177,27.56768 -9.21009,6.54539 -24.95129,-0.23815 -23.88027,-12.38055 0.11879,-8.0054 6.80405,-15.15142 14.76917,-15.26135 z m 1.00388,66.78743 c 14.92636,0.23653 27.49301,12.78709 31.24923,26.5306 -21.27876,-0.0222 -42.55775,0.0588 -63.83633,-0.0605 3.92221,-13.76741 16.13183,-26.32073 31.13596,-26.45443 0.48619,-0.0184 0.96965,-0.0233 1.45114,-0.0156 z m 159.80859,66.20151 c 16.88268,0 30.302,13.41736 30.302,30.30004 0,16.88271 -13.41932,30.30201 -30.302,30.30201 -16.88268,0 -30.30004,-13.4193 -30.30004,-30.30201 0,-16.88268 13.41736,-30.30004 30.30004,-30.30004 z"
									id="path4292" inkscape:connector-curvature="0"></path>
							</g>
						</g>
					</svg>
				</div>
				<div class="detail-box">
					<h5>
						Public & Private Rooms
					</h5>
					<p>
						Chat openly with the community or keep it exclusive with invite-only rooms.
					</p>
				</div>
			</div>
			<div class="box">
				<div class="img-box">
					<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
						<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
						<g id="SVGRepo_iconCarrier">
							<path
								d="M10 9.5C10 10.3284 9.32843 11 8.5 11C7.67157 11 7 10.3284 7 9.5C7 8.67157 7.67157 8 8.5 8C9.32843 8 10 8.67157 10 9.5Z"
								fill="#0F0F0F"></path>
							<path
								d="M15.5 11C16.3284 11 17 10.3284 17 9.5C17 8.67157 16.3284 8 15.5 8C14.6716 8 14 8.67157 14 9.5C14 10.3284 14.6716 11 15.5 11Z"
								fill="#0F0F0F"></path>
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M7.01666 14.2938C6.9436 13.5362 7.56149 13 8.2 13H15.8C16.4385 13 17.0564 13.5362 16.9833 14.2938C16.9395 14.7489 16.7676 15.7884 16.0452 16.7336C15.2826 17.7313 14.0006 18.5 12 18.5C9.99938 18.5 8.71736 17.7313 7.95483 16.7336C7.2324 15.7884 7.06054 14.7489 7.01666 14.2938ZM9.2411 15C9.31663 15.1731 9.41526 15.3509 9.54387 15.5191C9.90187 15.9876 10.5782 16.5 12 16.5C13.4218 16.5 14.0981 15.9876 14.4561 15.5191C14.5847 15.3509 14.6834 15.1731 14.7589 15H9.2411Z"
								fill="#0F0F0F"></path>
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M20.9992 5.68421V1.50047C20.9992 0.441867 19.9309 -0.283213 18.9462 0.107037L15.348 1.53306C14.2923 1.19635 13.1674 1.01462 12 1.01462C10.8204 1.01462 9.68413 1.20017 8.61888 1.54367L5.05297 0.130458C4.06827 -0.259791 3 0.465289 3 1.52389V5.68535C1.73994 7.47351 1 9.65406 1 12.0073C1 18.0784 5.92487 23 12 23C18.0751 23 23 18.0784 23 12.0073C23 9.65355 22.2597 7.47258 20.9992 5.68421ZM18.9992 6.36359V2.23615C17.7709 2.72293 15.2922 3.63397 15.2922 3.63397C15.2922 3.63397 13.2846 3.02011 12 3.02011C10.7154 3.02011 8.68671 3.64971 8.68671 3.64971L5 2.25957V6.36459C3.75334 7.90712 3.00683 9.8701 3.00683 12.0073C3.00683 16.9708 7.03321 20.9945 12 20.9945C16.9668 20.9945 20.9932 16.9708 20.9932 12.0073C20.9932 9.86963 20.2463 7.90627 18.9992 6.36359Z"
								fill="#0F0F0F"></path>
						</g>
					</svg>
				</div>
				<div class="detail-box">
					<h5>
						Real-Time Messaging
					</h5>
					<p>
						Instant conversations with reactions, GIFs, and emojis to keep the vibe going.
					</p>
				</div>
			</div>
			<div class="box">
				<div class="img-box">
					<svg fill="#000000" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
						<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
						<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
						<g id="SVGRepo_iconCarrier">
							<path
								d="M512 64L128 192v384c0 212.1 171.9 384 384 384s384-171.9 384-384V192L512 64zm312 512c0 172.3-139.7 312-312 312S200 748.3 200 576V246l312-110 312 110v330z">
							</path>
							<path
								d="M378.4 475.1a35.91 35.91 0 0 0-50.9 0 35.91 35.91 0 0 0 0 50.9l129.4 129.4 2.1 2.1a33.98 33.98 0 0 0 48.1 0L730.6 434a33.98 33.98 0 0 0 0-48.1l-2.8-2.8a33.98 33.98 0 0 0-48.1 0L483 579.7 378.4 475.1z">
							</path>
						</g>
					</svg>
				</div>
				<div class="detail-box">
					<h5>
						Moderation & Safety
					</h5>
					<p>
						Built-in moderation tools ensure a safe and enjoyable chat experience for all users.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>


