@import "tailwindcss";
@plugin "daisyui";


@keyframes bop {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.bop-image {
    animation: bop 1s ease-in-out infinite;
    transform: scaleX(-1); 
}